<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

     <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Add Movie</title>
      <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
</head>
<body>
<div class="container" align="center">
<h1>Add  Movie Information</h1><hr>
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' value="Add Movie">
    </form>
</div>
</body>
</html>